#no-mobile {
  position: absolute;
  z-index: 99;
  height: 130vh;
  width: 100vw;
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
