.user-component {
  justify-content: space-between;
}

.user-component:hover {
  background-color: rgba(172, 168, 168, 0.4);
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 27px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--text-color);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__ti-ex {
  display: flex;
}

.user-component__exclamation {
  color: tomato;
  width: 10px;
  height: 10px;
  border: 2px solid tomato;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 4px;
}

.friends-screen .user-component:nth-child(2) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: var(--main-border);
}

.user-component__me {
  display: flex;
  align-items: center;
}

.user-component__me span {
  color: white;
  width: 25px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  background-color: rgba(119, 118, 118);
  border-radius: 50%;
  padding-top: 6px;
  box-sizing: border-box;
}

.user-component__bottom > .user-component {
  margin-top: 10px;
}
